.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;

    h1{
        margin: 0;
    }
    .search-bar{
        input{
            padding: 8px;
            border: none;
            border-radius: 5px;
            outline: none;
        }
    }
}